# coding: utf-8

"""
    Layar API Documentation

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: VERSION_PLACEHOLDER
    Contact: AI-Support@Certara.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from layar_api.api_client import ApiClient


class AnswerApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_answer(self, id, **kwargs):  # noqa: E501
        """Get answer details  # noqa: E501

        Get information provided in a specific Answer object.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_answer(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: (required)
        :return: Answer
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_answer_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_answer_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_answer_with_http_info(self, id, **kwargs):  # noqa: E501
        """Get answer details  # noqa: E501

        Get information provided in a specific Answer object.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_answer_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: (required)
        :return: Answer
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_answer" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_answer`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oAuth2ClientCredentials']  # noqa: E501

        return self.api_client.call_api(
            '/layar/answer/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Answer',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def layar_answer_get(self, **kwargs):  # noqa: E501
        """layar_answer_get  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.layar_answer_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str q: the query string to search for
        :param int rows: the number of rows to return
        :param int start: the start offset for the row
        :param str sort: sort results by the given property
        :param str order: what order to return sorted results
        :param date from_date: beginning of date range to return
        :param date to_date: end of date range to return
        :param str batch_grouping_key: limit results to answers from a batch query
        :param list[str] question_ids: limit results to answers that came from specific questions
        :param bool rejected: include results that have been rejected
        :param bool show_accepted_first: order results with accepted answers first
        :param str single_doc_question_document_id: include answers that were asked of a single document
        :param bool with_concepts: return concept matches for each answer
        :return: AnswerArray
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.layar_answer_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.layar_answer_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def layar_answer_get_with_http_info(self, **kwargs):  # noqa: E501
        """layar_answer_get  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.layar_answer_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str q: the query string to search for
        :param int rows: the number of rows to return
        :param int start: the start offset for the row
        :param str sort: sort results by the given property
        :param str order: what order to return sorted results
        :param date from_date: beginning of date range to return
        :param date to_date: end of date range to return
        :param str batch_grouping_key: limit results to answers from a batch query
        :param list[str] question_ids: limit results to answers that came from specific questions
        :param bool rejected: include results that have been rejected
        :param bool show_accepted_first: order results with accepted answers first
        :param str single_doc_question_document_id: include answers that were asked of a single document
        :param bool with_concepts: return concept matches for each answer
        :return: AnswerArray
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['q', 'rows', 'start', 'sort', 'order', 'from_date', 'to_date', 'batch_grouping_key', 'question_ids', 'rejected', 'show_accepted_first', 'single_doc_question_document_id', 'with_concepts']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method layar_answer_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'q' in params:
            query_params.append(('q', params['q']))  # noqa: E501
        if 'rows' in params:
            query_params.append(('rows', params['rows']))  # noqa: E501
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501
        if 'order' in params:
            query_params.append(('order', params['order']))  # noqa: E501
        if 'from_date' in params:
            query_params.append(('fromDate', params['from_date']))  # noqa: E501
        if 'to_date' in params:
            query_params.append(('toDate', params['to_date']))  # noqa: E501
        if 'batch_grouping_key' in params:
            query_params.append(('batchGroupingKey', params['batch_grouping_key']))  # noqa: E501
        if 'question_ids' in params:
            query_params.append(('questionIds', params['question_ids']))  # noqa: E501
            collection_formats['questionIds'] = 'multi'  # noqa: E501
        if 'rejected' in params:
            query_params.append(('rejected', params['rejected']))  # noqa: E501
        if 'show_accepted_first' in params:
            query_params.append(('showAcceptedFirst', params['show_accepted_first']))  # noqa: E501
        if 'single_doc_question_document_id' in params:
            query_params.append(('singleDocQuestionDocumentId', params['single_doc_question_document_id']))  # noqa: E501
        if 'with_concepts' in params:
            query_params.append(('withConcepts', params['with_concepts']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oAuth2ClientCredentials']  # noqa: E501

        return self.api_client.call_api(
            '/layar/answer', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AnswerArray',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def search_answer(self, **kwargs):  # noqa: E501
        """Search for answers  # noqa: E501

        Find answers by their ID or other object parameters.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.search_answer(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AnswerSearchCommand body:
        :return: list[Answer]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.search_answer_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.search_answer_with_http_info(**kwargs)  # noqa: E501
            return data

    def search_answer_with_http_info(self, **kwargs):  # noqa: E501
        """Search for answers  # noqa: E501

        Find answers by their ID or other object parameters.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.search_answer_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AnswerSearchCommand body:
        :return: list[Answer]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method search_answer" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oAuth2ClientCredentials']  # noqa: E501

        return self.api_client.call_api(
            '/layar/answer/search', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[Answer]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_answer(self, body, id, **kwargs):  # noqa: E501
        """Update answer details  # noqa: E501

        Modify the information provided for a specific Answer object.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_answer(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Answer body: (required)
        :param str id: (required)
        :return: list[Answer]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_answer_with_http_info(body, id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_answer_with_http_info(body, id, **kwargs)  # noqa: E501
            return data

    def update_answer_with_http_info(self, body, id, **kwargs):  # noqa: E501
        """Update answer details  # noqa: E501

        Modify the information provided for a specific Answer object.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_answer_with_http_info(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Answer body: (required)
        :param str id: (required)
        :return: list[Answer]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_answer" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_answer`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `update_answer`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oAuth2ClientCredentials']  # noqa: E501

        return self.api_client.call_api(
            '/layar/answer/{id}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[Answer]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
