# coding: utf-8

"""
    Layar API Documentation

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: VERSION_PLACEHOLDER
    Contact: AI-Support@Certara.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from layar_api.api_client import ApiClient


class CompoundApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def render(self, **kwargs):  # noqa: E501
        """Render SMILES into an SVG  # noqa: E501

        Convert a compound SMILE string into a rendered image file.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.render(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str smiles_string: the SMILES string of the compound structure to render
        :param int height: the height in pixels of the rendered compound structure
        :param int width: the width in pixels of the rendered compound structure
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.render_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.render_with_http_info(**kwargs)  # noqa: E501
            return data

    def render_with_http_info(self, **kwargs):  # noqa: E501
        """Render SMILES into an SVG  # noqa: E501

        Convert a compound SMILE string into a rendered image file.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.render_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str smiles_string: the SMILES string of the compound structure to render
        :param int height: the height in pixels of the rendered compound structure
        :param int width: the width in pixels of the rendered compound structure
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['smiles_string', 'height', 'width']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method render" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'smiles_string' in params:
            query_params.append(('smilesString', params['smiles_string']))  # noqa: E501
        if 'height' in params:
            query_params.append(('height', params['height']))  # noqa: E501
        if 'width' in params:
            query_params.append(('width', params['width']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['image/svg+xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oAuth2ClientCredentials']  # noqa: E501

        return self.api_client.call_api(
            '/layar/compound/render', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='str',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
